@import "../../utilities/breakpoints.scss";

$item-height: 150px;
$circle-width: 250px;

.home-item {
  width: 100%;
  height: $item-height;
  border-radius: 10px;
  background-color: aquamarine;
  box-shadow: 2px 2px 5px #0a936e;
  overflow: hidden;
  position: relative;
}

.circle-i {
  height: $circle-width;
  width: $circle-width;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.468);
  position: absolute;
  top: -10px;
  right: -150px;
}

@media (max-width: $mobile-breakpoint) {
  .home-item {
    
  }
}
