@import "../../utilities/fonts.scss";

.navbar {
  max-width: 1200px;
}
.company-name {
  @include iran-nastalig;
  font-size: 2.2rem;
}

.items {
  color: white;
  button {
    padding: 0;
    margin: 0;
    transition: scale .1s linear;

    @include b-nazanin;
    font-size: 1.6rem;
    &:hover{
      scale: 1.2;
    }
  }
}
